.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogsItems {

}

.dialogsItems .active {
    color: lawngreen;
}

.dialog {

}

.messages {

}

.message {

}